<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.server.app.mapper.DatasourceModelMapper">
  <resultMap id="BaseResultMap" type="com.knowledge.server.entity.model.DatasourceModel">
    <!--@mbg.generated-->
    <!--@Table t_datasource-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="db_type" jdbcType="VARCHAR" property="dbType" />
    <result column="con_name" jdbcType="VARCHAR" property="conName" />
    <result column="con_url" jdbcType="VARCHAR" property="conUrl" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="data_version" jdbcType="INTEGER" property="dataVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, db_type, con_name, con_url, username, `password`, created_at, updated_at, 
    data_version
  </sql>
</mapper>